*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(images/20250112_161317.jpg) no-repeat;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.